body {
  background-color: #f6f6f6;
}
.font{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size:12px;
}
.head{
    padding-top:1% ;
    margin-left:1%;
    font-size: 20px;
}
label,table{
  width: 150px;
  display: inline-block;
  padding-left:1%;
}
input {
  width: 344px;
  height: 35px;
  opacity: 0.5;
  border-radius: 5px;
  border: solid 1px grey;
}
label:after {
  content: "*";
  color: red;
}
label.optional:after {
  content: "";
}
.container-1,
.container-2,
.container-3 {
  margin:3%;
  background-color: #ffffff;
  border-radius: 10px;
}
.container-1 {
  height: 225px;
}
.container-2 {
  height: 285px;
}
.container-3 {
  height: 163px;
}
.r_box1,.r_box2{
  padding-left:10%;
}
.od1,.od2{
  padding-left:5%;
}
a{
  padding:5% 20%;
  border-radius: 5px;
  background-color: #319cea;
  color:#ffffff;
  text-decoration: none;
}
.button_css{
  display: flex;
  justify-content: space-between;
  margin-left:70%;
  margin-bottom:3%;
  margin-right:3%;
}
