label{
    display: inline-block;
    width:150px;
}
.pl{
    margin-left: 7%;
    margin-top:1%;
}
.ml{
    margin-left:1%;
    margin-top:1%;
}
.mt{
    margin-top: 1.5%;
}
.m-r{
    padding-left: 22%;
}
.sequence{
    margin-top: 1%;
}
.series{
    display: flex;
    margin-top: 2%;
}
.align{
    padding-left: 7%;
}
